{% load static %}


        
           <nav class="navbar navbar-expand-lg my-3">
            <div class="container-fluid">
            <a class="navbar-brand font-bold fw-bold fs-1" href="{% url 'index' %}">
                social book
            </a>
            <!-- <form class="form-inline mx-2 mx-lg-0">
                <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success " type="submit">Search</button>
              </form> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
               
                <!-- if request.user.is_authenticated -->
                {% if request.user.is_authenticated %}
                  <ul class="navbar-nav ms-auto ">
                    <li  class="nav-item active">{% include 'partials/_modal.html' %}</li>
                    <li class="nav-item dropdown">
                      
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src=" {{request.user.profile.imageURL}}" class="rounded-circle" style="margin: 0 auto; width: 35px; height: 35px;" alt="">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end fs-5">
                          <a class="dropdown-item" href="{% url 'account' %}">Account Settings</a>
                          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                          
                      </li>
                  </ul>
                {% else %}
                <ul class="navbar-nav ms-auto ">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">login</a>
                  </li>
              </ul>
                {% endif %}
              
                
                
              </div>
            </div>
          </nav>
          
        </div>
        <!-- Modal -->

  <!-- end modal -->