{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="container m-auto"> 

    <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3"><a href="{% url 'index' %}">Home</a>/ Account Setting for {{user.username}} </h1>
    <!-- <ul class="mt-5 -mr-3 flex-nowrap lg:overflow-hidden overflow-x-scroll uk-tab">
        <li class="uk-active"><a href="">General</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Notification</a></li>
        <li><a href="#">Social links</a></li>
        <li><a href="#">Billing</a></li>
        <li><a href="#">Security</a></li>
    </ul> -->
    <br>
    <hr>
        
    <div class="grid lg:grid-cols-3 mt-12 gap-8">
        <div>
            <h3 class="text-xl mb-2"> General</h3>
            <p></p>
        </div>
        
            <div class="bg-white rounded-md lg:shadow-lg shadow col-span-2">
                    <form action="" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <div class="grid grid-cols-2 gap-3 lg:p-6 p-4 form-group">
                        
                            <div class="col-span-2">
                                <label for="image">Profile Image</label>
                                <img style=" width: 100px; height: 100px;" src="{{profile.imageURL}}" alt="">
                                <input type="file" name="image" id="image" value="{{profile.imageURL}}">
                            </div>
                            <div class="col-span-2">
                                <label for="bio">Bio</label>  
                                <textarea id="bio" name="bio" rows="3"  class="shadow-none bg-gray-100 form-control">{{profile.bio}}</textarea>
                            </div> 
                            <div class="col-span-2">
                                <label for="location"> Location</label>
                                <input type="text" name="location" placeholder="" class="shadow-none bg-gray-100" value="{{profile.location}}">
                            </div>
                        </div> 
        
                        <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                            <a href="{% url 'index' %}" class="p-2 px-4 rounded bg-gray-50 text-red-500"> Cancel </a>
                            <button type="submit" class="button bg-blue-700"> Save </button>
                        </div>
                </form>
            </div>
        
        
        <br>

    </div>

</div>

{% endblock %}
    