{% extends 'base.html' %} {% load crispy_forms_filters %} {% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="auth">
        <div class="card ">
            <form class="form" enctype="multipart/form-data" method="post">
                
                {% csrf_token %}
                {% for field in user_form %}
                    <div class="form-field ">
                    
                        
                        {{field|as_crispy_field}}

                        {% for error in field.errors %}
                             <p style="color: red;"> {{error}} </p>
                        {% endfor %}
                    
                    </div>
                {% endfor %}
                {% for field in profile_form %}
                    <div class="form-field ">
                    
                        
                        {{field|as_crispy_field}}

                        {% for error in field.errors %}
                             <p style="color: red;"> {{error}} </p>
                        {% endfor %}
                    
                    </div>
                {% endfor %}
                
                
                <div>
                    <input class="btn my-3" type="submit" value="Submit">
                </div>
            </form>
        
        </div>
    </div>
</div>
<style>
    .auth{
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .auth > .card {
    padding: 3rem 4rem;
    width: 95%;
    max-width: 65rem;
    }
    .auth__form {
    margin: 3rem 0;
    }
   
</style>
{% endblock %}