{% extends 'base.html' %}

{% block content %}
     <section class="hero-section text-center">
  <div class="container">
    <div class="hero-section__search">
      <form id="searchForm" class="form" action="{% url 'profiles' %}" method="get">
        <div class="form__field">
          <label for="formInput#search" class="font-semibold font-size-14 lead">Search By Username </label>
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_query" value="{{search_query}}">
          <button class="btn btn-success btn-sm my-3" type="submit">Search</button>
        </div>

       
      </form>
    </div>
  </div>
</section>
    <!-- {% for profile in profiles %}

    <div class="card mb-3 shadow-sm" style="max-width: 400px; max-height: 400px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{profile.imageURL}}" class=" img-thumbnail rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{profile.username}}</h5>
              <p class="card-text">{{profile.bio}}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
        
    {% endfor %} -->
    <section class="devlist">
        <div class="container">
        <div class="grid grid--three">
            {% for profile in profiles %}
        
    
          <div class="column card bg-light">
            <div class="dev">
              <a href="{% url 'user_profile' profile.username %}" class="card__body">
                <div class="dev__profile">
                  <img class="avatar avatar--md" src="{{ profile.imageURL }}" alt="image" />
                  <div class="dev__meta">
                    <h3>{{profile.bio}}</h3>
                        
                    
                  </div>
                </div>
                <p class="dev__info">
                  {{profile.bio|slice:"100"}}
                </p>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
    </section>

    <style>
        
        .devlist {
        margin-top: 8rem;
        }

        .devlist .grid {
        align-items: stretch;
        }

        .devlist .dev .dev__profile {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        }

        .devlist .dev .dev__meta h3 {
        color: var(--color-sub);
        font-size: 2rem;
        font-weight: 700;
        }

        .devlist .dev .dev__meta h5 {
        color: var(--color-text);
        font-size: 1.4rem;
        font-weight: 500;
        }

        .devlist .dev .dev__info {
        margin: 1.5rem 0;
        font-size: 1.35rem;
        line-height: 1.4;
        text-align: justify;
        }

        
.profile .card > .dev {
  padding: 4rem;
}

.dev__avatar {
  display: block;
  margin: auto;
}

.dev__name {
  color: var(--color-sub);
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.dev__title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.3;
}

.dev__location {
  margin-top: 1rem;
}

.dev__social {
  margin: 3rem 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.devInfo {
  margin-bottom: 3rem;
}

.devInfo__title,
.devInfo__subtitle {
  font-size: 2.6rem;
  color: var(--color-sub);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.devInfo__subtitle {
  font-size: 2rem;
  color: var(--color-sub-light);
}

.devInfo__about,
.devSkill__info {
  font-size: 1.45rem;
  line-height: 1.7;
  text-align: justify;
}

.devSkill {
  margin-bottom: 3rem;
}

.devSkill__title {
  font-size: 1.65rem;
  font-weight: 500;
  color: var(--color-sub-light);
}
.grid > .column {
  color: var(--color-light);
  text-align: center;
  background: var(--color-main);
}

    </style>
        
{% endblock %}
    